/*Reinhart Aristeo Tanto - 1376786*/
.title {
    font-family: 'Tsukimi Rounded', sans-serif;
    font-weight: medium;
    letter-spacing: -.06em;
}

.heading {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: medium;
    letter-spacing: .1em;
}

.subheading {
    font-family: 'Scada', sans-serif;
    font-weight: light;
}

.caption {
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: .5em;
}

.body-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}