

/* Main footer container */
.footer {
    background-color: var(--brown);
    color: var(--white);
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 1px;
}
    
/* Two-column layout */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
    
/* Left column */
.f_left-column {
    flex: 1;
    text-align: left;
    padding-left: 1%;
}
    
/* Right column */
.f_right-column {
    flex: 1;
    text-align: right;
    padding-left: 10%;
    padding-right: 2%;
}
    
/* Left column contents */
.f_table {
    width: 120%;
}

.title1 {
    font-size: 25px; 
    padding-left: 10px; 
    padding-bottom: 15px;
}

.subheading {
    font-size: 15px;
    text-align: left;
}

/* Right column contents */
.nl_table {
    text-align: left;
    border: 1px solid #fff; 
    padding-right: 10px;
    padding-left: 10px;
}
.email_title {
    font-size: 15px;
    padding-bottom: 0;
}
.borderless {
    border-collapse: collapse; 
    width: 100%;
}
.email_box {width: 100px;}
.email_text {font-size: 10px;}
.subscribe {font-size: 12px;}

.checkbox_container {
    text-align: left; 
    width: 20px;
}
.checkbox_textbox {
    text-align: left; 
    padding-left: 10px;
}
.checkbox_text {
    font-size: 10px;
    width: 90%;
}

/* Bottom line*/
.bottom_line {
    width: 94%;
    border: none;
    border-top: .3px solid var(--white);
}
.bottom_text {font-size: 9px;}