/*Reinhart Aristeo Tanto - 1376786*/

/* Remove margin */
body {
    margin: 0;
    padding: 0;
}

/* Navigation bar overall */
.navbar {
    background-color: var(--brown);
    border-collapse: collapse;
    width: 100%;
}
.navbar td {
    width: 33%;
}

/*Left and right*/
.navbar_left, .navbar_right {
    padding: 1.5rem;
    vertical-align: middle;
}
.navbar_right {
    text-align: right;
}

/*Center*/
.navbar_center {
    text-align: center;
}

.small_link {
    font-size: 1rem;
    color: var(--white);
    display: inline-block;
    padding: 0;
}

.h_large {
    color: var(--white);
    font-size: 25px;
    line-height: 1;
}

/*Cart counter on right*/
.cart_quantity_counter {
    background-color: var(--white);
    color: var(--brown);
    padding: .2rem .4rem;
    border-radius: 1rem;
    font-size: .6rem;
}

.cart_button_table td {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}
