/*Reinhart Aristeo Tanto - 1376786*/

/* Remove margin */
body {
    margin: 0;
    padding: 0;
}

/* Navigation bar overall */
.navbar {
    display: flex;
    background-color: var(--brown);
    padding: 10px;
    /*Center align everything*/
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 50px; 
}

/*Left and right*/
.navbar-left, .navbar-right {
    flex: 1;
    padding: 10px;
}

/*Center*/
.navbar-center {
    flex: 3;
    text-align: center;
}

.small_link {
    font-size: 1rem;
    color: var(--white);
    align-items: center;
    padding-top: 10px;
}

.h_large {
    color: var(--white);
    font-size: 25px;
    line-height: 1;
}