/*Reinhart Aristeo Tanto - 1376786*/



/*For display different pages in checkout*/
.hidden_page {
  display: none;
}

.cart_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
  }
  
/*container for cart box*/
.cart_box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--beige);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, .8); 
  z-index: 10000; 
  width: 90%;
}

.top_row {
  width: 100%;
  border-collapse: collapse;
}

.top_row td {
  width: 33%;
  padding: 0;
}

.cart_title {
  color: var(--brown);
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.close_container {
  text-align: right;
}

.close_button {
  margin: 0;
  background-color: transparent;
  font-size: 2.5rem;
  padding: 0px 5px;
  border: none;
  color: var(--brown);
}
.close_button:hover {
  color: var(--grey);
}

/*Grey line in cart*/
.cart_border {
  border: none; 
  height: 2px; 
  background-color: var(--grey); 
  margin: 0px 0; 
}

/*Item in cart*/
.cart_item_container {
  width: 90%;
  color: var(--brown);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.cart_item_table {
  width: 100%;
  display: inline-table;
}

.cart_item_image_container {
  width: 20%;
}

.cart_item_image {
  height: 7rem;
  margin: 0;
  margin-right: .5rem;
  border-radius: .5rem;
}

.cart_item_name {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: .4rem;
}

.cart_item_price {
  font-size: .6rem;
  letter-spacing: .2rem;
  font-weight: 200;
  margin-top: 0;
}

.cart_remove_button {
  font-size: .5rem;
  font-weight: 200;
  font-style: italic;
  margin-top: 2.1rem;
}

.cart_item_quantity_container {
  width: 20%;
}

.cart_item_quantity_table {
  width: 9rem;
  border: 1px solid var(--brown);
  border-collapse: collapse;
  right: 0;
}

.cart_item_quantity_button {
  margin: 0;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--brown);
}

.cart_item_quantity_text {
  margin: 0;
  text-align: center;
}

/*Subtotal*/
.subtotal_table {
  width: 25%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.subtotal_table td {
  width: 50%;
}

.subtotal_text, .subtotal_text {
  font-size: 1rem;
  letter-spacing: .2rem;
  color: var(--brown);
  font-weight: 400;
  margin: 0;
}

.shipping_notice {
  text-align: center;
  font-size: .5rem;
  color: var(--brown);
  font-style: italic;
  margin: 0;
  margin-bottom: 1rem;
}

.next_button {
  width: 100%;
  height: 3rem;
  border-collapse: collapse;
  border: none;
  background-color: var(--brown);
  color: var(--beige);
  font-size: 1.1rem;
}

.empty_cart {
  font-size: .7rem;
  color: var(--brown);
  font-weight: 500;
  text-align: center;
  margin-top: 3rem;
}

.cart_contents {
  min-height: 5rem;
}


.input_table {
 text-align: center;
 width: 95%;
 margin: auto;
 margin-top: 1rem;
 margin-bottom: 1rem;
}

.input_label {
  color: var(--brown);
  font-size: 1rem;
  width: 30%;
}

.input_box {
  border: 2px solid var(--brown);
  background: transparent;
  color: var(--brown);
  border-radius: .2rem;
  width: 90%;
}

.subtotal_details {
  margin: 0;
  color: var(--brown);
  font-size: .8rem;
}

.cart_border_mini {
  border: none; 
  height: 2px; 
  background-color: var(--brown); 
  width: 90%;
  border-radius: 1rem;
}

.estimated_total_table {
  border: none;
}

.estimated_total_text {
  color: var(--brown);
  text-align: center;
  margin-bottom: .3rem;
  font-weight: 450;
  font-size: 1.2rem;
}

.estimated_total_price {
  text-align: center;
  color: var(--brown);
  margin-top: 0;
  letter-spacing: .2rem;
  font-size: .8rem;
}

.payment_address_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.checkbox_text {
  font-size: .8rem;
  color: var(--brown);
  margin: 0;
}

.hidden_input_table {
  margin-top: 1rem;
  visibility: collapse;
  overflow: hidden; 
  opacity: 0;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
.hidden_input_table.show {
  opacity: 1;
  visibility: visible;
}

/*4th page, confirmation page*/
.last_close_button {
  background-color: var(--beige);
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  color: var(--brown);
  font-weight: 600;
  border: none;
}

.confirmation_page {
  background-color: var(--brown);
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.confirmation_heading {
  color: var(--beige);
  margin-left: 1rem;
}

.confirmation_text {
  color: var(--beige);
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (max-width: 768px) {
  /*Page1*/
  .cart_item_quantity_table {
    width: 5rem;
  }

  .subtotal_table {
    width: 80%;
  }
  
  /*Page2*/
  .input_label {
    width: 45%;
  }
}